body{
    font-family:Comfortaa;
}
.navbar{
    background-color: rgba(255, 255, 255, 0.675);
}
.workarea{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    font-family:cursive;
    font-size:2rem;
    color:rgb(229, 15, 229);
    font-weight: bold;
}
.navlinks{
    margin-left:30rem;
}
.navlinks li{
    position:relative;
}
.navlinks li a{
    color:#000000;
    font-size:1.2rem;
}
.navlinks li ul li a{
    color:#000;
    font-size:1rem;
}
.navlinks li a:hover{
    color:rgb(0, 0, 255);
}
.image{
   height:500px;
   object-fit:cover;
   position:static;
}
.carousel-caption{
    justify-content: center;
}
.carousel-caption h5{
    font-size: 2rem;
}
.carousel-caption p{
    font-size: 1.5rem;
}
.imag{
    position:relative;
}
.image1{
    height:80%;
    width:75%;
    margin:1rem;
    border-radius: 1.5rem;
    position:relative;
    z-index: 1;
}
.image2{
    height:70%;
    width:65%;
    left:20%;
    top: 15%;
    border-radius: 1.5rem;
    position:absolute;
    z-index: 2;
}

#gallery{
    background-color: #c45fae;
}
.card-image .card-img{
    height: 180px;;
    width:250px;
    object-fit: cover;
    border-radius:20%;
}
.bi-heart-fill{
    font-size: 30px;
    margin-right:1rem;
}
.bi-share{
    font-size: 30px;
}
.gallery{
    padding:1rem;
    width:20rem;
    height:25rem;
    border-radius: 3rem;
    background-color: #000;
    color:white;
    text-align: center;
    align-items: center;
}
.gallery p{
    font-size:1.2rem;
}

.foot {
    color: #fff;
    background: rgb(66, 66, 66);
}
.addr ul li{
    list-style: none;
    padding:0.5rem;
}
.addr ul li a{
    font-size:1.8rem;
    color:rgb(255, 0, 0);
}
.addr{
    margin:1em;
    font-size:1.1rem;
    padding:0.5rem;
    border:1px solid #fff;
    border-radius: 20px;
    text-align: center;
    height:17rem;
}
.connect{
    margin-top:1rem;
    padding:0.5rem;
    border:1px solid #fff;
    border-radius: 20px;
    height:17rem;
}
.map{
    margin:1rem;
    border:1px solid #fff;
    border-radius: 20px;
    padding:0.5rem;
    height:17rem;
    text-align: center;
}
.cright{
    padding:0.1rem; 
    font-size:1.3rem;
    background-color: #c45fae;
}
@media (max-width:1025px){
    .navlinks{
        margin-left:18rem;
    }
}
@media (min-width:768px){
    .logo{
        margin-left:5rem;
    }
}
@media (max-width:768px){
    .navlinks li a{
        font-size:1rem;
    }
    .carousel-caption h5{
        font-size: 1.8rem;
    }
    .carousel-caption p{
        font-size: 1.2rem;
    }
    .card-image .card-img{
        height: 150px;;
        width:200px;
    }
    .gallery p{
        font-size:1.2rem;
    }
}
@media (max-width:426px){
    .navlinks li a{
        font-size:1rem;
    }
    .gallery{
        margin-left:2.5rem;
    }
}